# This work is licensed under a Creative Commons Attribution 4.0 International
# License. See the LICENSE file in the project's root for a copy of the license
# text.
#
# (C) 2021 Alexander Haase <ahaase@alexhaase.de>

*.png
